*{
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #262a2F;
    color: #333;

}

.search-box {
    width: 600px;
    background-color: #fff;
    margin: 200PX AUTO 0;
    border-radius: 5px;

}

.row {
    display: flex;
    align-items: center;
    padding: 10PX 20PX;

}
input {
    flex: 1;
    height: 50PX;
    background:transparent;
    border: 0;
    outline: 0;
    font-size: 18PX;
    color: #333;

}
button {
    background: transparent;
    border: 0;
    outline: 0;

}
button .fa-solid {
    width: 25PX;
    color: #555;
    font-size: 22PX;
    cursor: pointer;
}

::placeholder {
    color: #555;
}

.result-box ul {
    border-top: 1px solid #999;
    padding: 15PX 10PX;
}
.result-box ul li {
    list-style: none;
    border-radius: 3PX;
    padding: 15PX 10PX;
    cursor: pointer;
}

.result-box ul li:hover {
    background-color: #e9f3ff;
}


.result-box {
    max-height: 300PX;
    overflow: hidden;
}