
             body {
                background-color:rgb(56, 66, 69);
                margin: 0%;
                height: 10000PX;
                padding: 0PX; 
            }
            .hl {
                padding: 10px;
                padding-top: 0%;
                background-color: rgb(0, 19, 50);
                font-family: 'Verdana', Geneva, sans-serif;
                font-size: 15PX;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                color: rgb(206, 29, 255);
                text-shadow: 2PX 2PX 2PX black;
            }
            .DECATHLON {
                text-align: center;
                color: rgb(206, 65, 0);
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                text-shadow: 4PX 4PX 4PX black;
                font-size: 60px;
                margin-bottom: 50PX;
                background-color: rgb(34, 62, 79);
                margin: 0px;
                margin-bottom: 50PX;
            }
            .div2 {
                background-color: rgb(0, 137, 137);
                width: 200px;
                right: 0%; 
                height: 100%;
                border-radius: 5px;
                color: rgb(0, 137, 137);
                position: fixed;
                z-index: 1;
                margin-top: 0%;
                font-size: 25px;
                cursor: POINTER;
                border-color: hsl(322, 100%, 52%);
                margin: 0PX;
            }
            nav {
                border: 2px solid rgb(64, 64, 64);
                border-radius: 10px;
                max-width: 250PX;
                line-height: 200%;   
            }
            .nav {
                padding: 15px;
                background-color: yellow;
                font-family: 'Verdana', Geneva, sans-serif;
                font-size: 25PX;
                text-decoration: underline;
                height: 100%;
                padding-bottom: 25px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                margin-top: 0px;
                font-family: Arial, Helvetica, sans-serif;
            }
            ul {
                list-style: none;
                padding-left: 8px;   
            }
            li a {
                display: block;
            }
            li {
                border-top: 1px solid #5e5959;
            }
            li a,li a:visited {
                text-decoration: none;
                color: rgb(34, 72, 100);
            }
            li a:hover, li a:focus {
                background-color: rgb(91, 97, 97);
                color: whitesmoke;
            }
            label {
                background-color: rgb(0, 13, 35);
                border-radius: 14PX;
                border:0px;
                color: rgb(0, 39, 103);
                cursor: pointer;
                padding-top: 4px;
                padding-block: 4px;
                padding-left: 50px;
                padding-right: 50px;
                box-shadow: 2PX 2PX 7PX rgb(255, 0, 217);
                transition: opacity 0.15s;
                transition: box-shadow 1s;
                margin-left: 200PX;
                margin-bottom: 40px;
                font-size: 20px;
                text-align: center;
            }
            #codeArticle, #quantite,#ball_id {
                background-color:rgb(53, 88, 128);
                border: 3px solid rgb(0, 19, 50);
                border-radius: 15PX;
                height: 20px;
            }
            .buy {
                background-color: rgb(0, 39, 103);
                border-radius: 14PX;
                border:0px;
                color: rgb(0, 19, 50);
                cursor: pointer;
                padding-top: 3px;
                padding-block: 3px;
                padding-left: 150px;
                padding-right: 160px;
                box-shadow: 2PX 2PX 7PX rgb(255, 0, 217);
                transition: opacity 0.15s;
                transition: box-shadow 1s;
                margin-left: 300PX;
                margin-bottom: 40px;
                margin-top: 20px;
                font-size: 30px;
                text-align: center;
                transform: 1s;
            }
            .buy:hover {
            box-shadow: 6PX 4PX 7PX rgb(255, 46, 224);
            color: rgb(0, 50, 132);
            background-color: rgb(0, 13, 35);
            }
            h3 {
                color: rgb(38, 0, 70);
            }
            .yas {
                color: whitesmoke;
                background-color: rgb(17, 15, 54);
                width: 50%;
                border: 1px solid rgb(17, 15, 54);   
                border-radius: 5px;      
            }
            h3,h1 {
                color: whitesmoke;
            }
        